# ============================================
# WarRoom Project - Production Override
# ============================================
version: '3.8'

services:
  war-server:
    environment:
      - DEPLOYMENT_MODE=production
      - NODE_ENV=production
  
  war-front:
    build:
      args:
        NODE_ENV: production
        REACT_APP_API_BASE_URL: ${PROD_REACT_APP_API_BASE_URL}
        REACT_APP_ENABLE_API_LOGGING: ${PROD_REACT_APP_ENABLE_API_LOGGING}
